* {
  background: transparent;
  border: 0;
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
  margin: 0;
  outline: 0;
  padding: 0;
}

html,
body {
  color: #fff;
  background: #000;
  height: 100%;
}

a {
  text-decoration: none;
}

.sign-out-button {
  position: absolute;
  margin: 3px 5px 0 0;
  top: 0;
  right: 0;
  color: #cccccc;
}
.sign-out-button:hover {
  color: white;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 85px;
  height: 15vh;
  min-height: 50px;
}

.player-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 70px;
  font-size: 15pt;
}

.player-info__input {
  border-bottom: solid 2px #cccccc;
  color: white;
  padding: 0 0 3px 0;
  margin: 0 0 0 20px;
  font-size: 15pt;
}

.main {
  display: flex;
  justify-content: space-around;
  padding: 0 100px;
  height: 70vh;
  min-height: 500px;
}

.colony-type-container {
  border: solid 2px black;
  border-radius: 20px;
  margin: 0 2px;
  padding: 0 15px;
  height: 100%;
  min-width: 150px;
  max-width: 200px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.colony-type-container:hover {
  background: #333333;
}

.colony-type--selected {
  border: solid 2px white;
}

.colony-type-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
}

.colony-type-graphic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 20px 0;
  color: #000; /* TEMP UNTIL IMG IS PLACED */
  background: #fff;
  border-radius: 30px;
  height: 60%;
}

.colony-type-icon {
  height: 100px;
}

.colony-type-description {
  display: flex;
  align-items: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 70px 0 0;
  height: 15vh;
  min-height: 50px;
}

.continue-button {
  padding: 10px;
  font-size: 15pt;
  color: white;
  background: #5fd38d;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.5s ease;
}
.continue-button:hover {
  opacity: 1;
}
