* {
  background: transparent;
  border: 0;
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
  margin: 0;
  outline: 0;
  padding: 0;
}

.hud-container {
  position: absolute;
  padding: 10px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  z-index: 99;
}
.hud-container:hover {
  background: rgba(0, 0, 0, 0.5);
}

.hud-icon {
  height: 30px;
  opacity: 0.5;
}
.hud-container:hover .hud-icon {
  opacity: 1;
}

#people {
  top: 200px;
  left: 20px;
}

#equipment {
  top: 260px;
  left: 20px;
}

#structures {
  top: 320px;
  left: 20px;
}

.hud-menu {
  display: none;
  position: absolute;
  top: 200px;
  left: 70px;
  width: 500px;
  height: 500px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 99;
}
