* {
  background: transparent;
  border: 0;
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
  margin: 0;
  outline: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

a {
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  height: 100vh;
  width: 30vw;
  min-width: 300px;
  z-index: 5;
}

.register-button-container {
  color: #fff;
  font-size: 100%;
  margin: 20px 0 0 20px;
  position: absolute;
  transition: all 0.5s ease;
  width: 100px;
  z-index: 3;
}
.register-button-container:hover {
  cursor: pointer;
  letter-spacing: 1px;
}

.logo {
  margin: 20% auto 30px auto;
  width: 15vw;
  min-width: 150px;
  z-index: 3;
}

.sign-in {
  border: solid #fff 2px;
  border-radius: 10px;
  opacity: 0.7;
  padding: 10px 15px;
  z-index: 5;
}

input[type='text'],
input[type='password'],
input[type='email'] {
  color: #fff;
}

.sign-in__input-container {
  border: solid #fff 2px;
  border-radius: 7px;
  margin: 20px 10px;
}

.sign-in__input {
  padding: 15px 10px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
  font-size: 120%;
  opacity: 0.5;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  font-size: 120%;
  opacity: 0.5;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
  font-size: 120%;
  opacity: 0.5;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  font-size: 120%;
  opacity: 0.5;
}

.sign-in__button-container {
  display: flex;
  justify-content: center;
}

.sign-in__button {
  background: #000;
  border: solid #fff 2px;
  border-radius: 7px;
  color: #fff;
  padding: 10px 15px;
  position: absolute;
  font-size: 120%;
  transition: all 0.5s ease;
}
.sign-in__button:hover {
  background: #ff5555;
  color: #fff;
  cursor: pointer;
  letter-spacing: 5px;
}

.register {
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  margin: -100vh 0 0 0;
  overflow-x: hidden;
  position: absolute;
  transition: all 0.5s ease;
  width: 0;
  z-index: 4;
}

.register__close-button {
  font-size: 32px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  transition: all 0.5s ease;
}
.register__close-button:hover {
  color: #ff5555;
  font-weight: 1000;
}

.register__input-container {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  width: 80%;
}

.register__input {
  padding: 15px 10px;
}

.register__confirm-button-container {
}

.register__confirm-button {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.5);
  font-size: 150%;
  font-weight: bold;
  height: 50px;
  transition: all 0.5s ease;
  width: 50px;
}
.register__confirm-button:hover {
  color: #fff;
  background: #5fd38d;
  cursor: pointer;
}

.mars-top {
  position: absolute;
  bottom: 0;
  z-index: 3;
  width: 100%;
}

/* Stars Background */
@keyframes move-stars-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-stars-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-stars-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-stars-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.stars,
.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: 1;

  -moz-animation: move-stars-back 750s linear infinite;
  -ms-animation: move-stars-back 750s linear infinite;
  -o-animation: move-stars-back 750s linear infinite;
  -webkit-animation: move-stars-back 750s linear infinite;
  animation: move-stars-back 750s linear infinite;
}

.twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat
    top center;
  z-index: 2;

  -moz-animation: move-twink-back 500s linear infinite;
  -ms-animation: move-twink-back 500s linear infinite;
  -o-animation: move-twink-back 500s linear infinite;
  -webkit-animation: move-twink-back 500s linear infinite;
  animation: move-twink-back 500s linear infinite;
}
